<footer role="contentinfo">
    <div>
        <a href="#">Back to top</a>
        <a href="{{ '/about' | prepend: site.baseurl }}">Biography</a>
        <a href="{{ '/involvement' | prepend: site.baseurl }}">Involvement</a>
        <a href="{{ '/projects' | prepend: site.baseurl }}">Projects</a>
        <!-- <a href="{{ '/research' | prepend: site.baseurl }}">Research Papers</a>
        <a href="{{ '/conferences' | prepend: site.baseurl }}">Conferences</a> -->
        <a href="{{ '/publications' | prepend: site.baseurl }}">Publications</a>
    </div>
    <div>
        &copy; 2020
    </div>
</footer>