<footer role="contentinfo">
    <div>
        <a href="#">Back to top</a>
        <a href="{{ '/about' | prepend: site.url }}">Biography</a>
        <a href="{{ '/involvement' | prepend: site.url }}">Involvement</a>
        <a href="{{ '/projects' | prepend: site.url }}">Projects</a>
        <!-- <a href="{{ '/research' | prepend: site.url }}">Research Papers</a>
        <a href="{{ '/conferences' | prepend: site.url }}">Conferences</a> -->
        <a href="{{ '/publications' | prepend: site.url }}">Publications</a>
        <a href="{{ '/assets/files/CV_Indra_P_TIWARI_for_Website-2020.pdf' | prepend: site.url }}" target="_blank">Résumé</a>
        <a href="{{ '#contact' | prepend: site.url }}">Contact</a>
    </div>
    <div>
        &copy; Indra P Tiwari 2021–2025
    </div>
</footer>
