---
description: >
  This layout can be used for any page requring access to the full width of the page, unconstrained by a grid.
---

<!DOCTYPE html>
<html id="Home"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ '/assets/css/screen.css' | prepend: site.baseurl }}">
<meta name="author" content="Indra Prasad Tiwari">
<link rel="canonical" href="https://www.indratiwari.com.np/">
<link rel="stylesheet" href="{{ '/assets/css/screen.css' | prepend: site.baseurl }}" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Prata&display=swap" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-210325190-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-210325190-1');
</script>

{% if page.collection == "class" %}
<title>{{ page.firstname | escape }} {{ page.lastname | escape }} - {{ site.title | escape }}</title>
{% else %}
<title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>
{% endif %}
<meta name="title" content="Indra Prasad Tiwari · Home">
<meta name="description" content="Indra Prasad Tiwari’s Personal Website">
<meta name="author" content="Indra Prasad Tiwari">
<link rel="canonical" href="https://www.indratiwari.com.np/">

<meta property="og:type" content="website">
<meta property="og:url" content="https://www.indratiwari.com.np/">
<meta property="og:title" content="Indra Prasad Tiwari · Home">
<meta property="og:description" content="Indra Prasad Tiwari’s Personal Website">
<meta property="og:image" content="https://indratiwari.com.np/assets/img/indratiwari.png">
</head>
<body>
    {% include header.html %}
    {{ content }}
	{% include footer.html %}
  </body>
</html>
